*{
    margin: 0 !important; /*viene cambiado desde bootstrap*/
}

body{
    position: relative;
    background-color:#212529;
}
header{
    background-color: #000;
    color: #fff;
    height: 10%!important;
}
.logo{
    width: 10%;
    height: 100%;
    float: left;
}
.banner{
    width: 100%;
    height: 20em;
    user-select: none;
}
.profile{
    width: 10em;
    height: 10em;
    border-radius: 5em;
    background-color: lightblue ;
    position: relative;
    bottom: 3em;
    user-select: none;
}

article{
    margin-top: 1%!important;
    position: absolute;
    box-sizing: border-box;
    left: 15%;
    background-color:#d3d3d3;
    width: 84%;
    height: 30em;
    border-radius:1em;
    padding:1em;
}

aside{
    margin: 1% !important;;
    position: relative;
    box-sizing: border-box;
    left: 0;
    background-color: #000;
    border-radius: 1em;
    padding: 1em;
    color: #fff;
    width:13%;
    height: 30em;
    
}

footer{
    position:relative;
    box-sizing: border-box;
    bottom: 0;
    background-color: #000;
    color: #fff;
    height: 7em;
}



#email_top{
    width: 5em;
    height: 1.5em;
    border-radius: 2px;
}

#password_top{
    width: 5em;
    height: 1.5em;
    border-radius: 2px;
}

#top_submit{
    width :4em;
    height: 2em;
    padding: 2px;
    background-color:#198734;
    color: #fff;
    border-radius:7px;
}

#top_submit:hover{
    background-color:#1a642d;
}


.social_top{
    float: right;
    margin-right: 1em !important; /*viene cambiado desde bootstrap*/
    margin-top: 1px !important;
    margin-left: 1em;
    margin-bottom: 0;
    padding-top: 10px;
}

.login_top{
    padding-top: 6px!important;
    float: right;
    margin: 2px !important; /*viene cambiado desde bootstrap*/
}

.social_bottom{
    height:20%;
    width:100%;
    display: flex;
    justify-content: center;
    margin-right: 1em !important; /*viene cambiado desde bootstrap*/
    margin-top: 1px !important;
    margin-left: 1em;
    margin-bottom: 0;
    padding-top: 10px;
}

.nav_list{
    width:100%;
}

a, a:visited, a:active {
    color: inherit;
    text-decoration: none;
  }

a:hover{
    color: #000;
    background-color: #fff;
    padding-bottom: 4px;
    padding-left: 5px;
    border-radius:12px;
    transition: .3s;
}

.wpp_logo:hover{
    padding-right: 5px;
}

.social_logo{
    margin: 1em!important;
}
.social_logo:hover{
    height: 1.7em;
    width:  1.7em;   
}